@model UserViewModel

<div class="General" style="width: 730px; margin: 125px auto; background-color: #d5e8d4; padding-bottom: 10px; border: 1px solid grey;">
    <div class="Users">
        Задачи по исполнителям
    </div>
    <div class="divMenu">
        <!-- <div class="imgButtonLeft">
        <a href="/register/index"><img src="Plus.png"></a>
    </div> -->
        <div class="imgButton">
            <!-- <button class="edit"><img src="change.png"></button> -->
            <a href="#popup" class="popup_link"><img src="/change.png"></a>
        </div>
        <div class="imgButton">
            <button class="delete"><img src="/del.png"></button>

        </div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Фамилия">
        <div class="imgButton" style="margin: 0 10px 0 10px"><a href="/home/index">Задачи</a></div>
    </div>

    <div class="divTable">
        <div>
            <table id="myTable">
                <tbody>
                    <tr class="header">
                        <th>
                            Тема задачи
                        </th>
                        <th>
                            Приоритет
                        </th>
                        <th>
                            Тип
                        </th>
                        <th>
                            Название проекта
                        </th>
                    </tr>

                    @foreach (var item in Model.Tasks)
                    {
                <tr>
                    <td>
                        @item.Topic
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Project.Name
                    </td>
                </tr>
                    }

                </tbody>
            </table>

        </div>
        <div>
            <p style="text-align:right;">Исполнитель: @Model.Name @Model.SerName</p>
        </div>
    </div>
</div>